/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container-grid {
    width: 70vw;
    max-width: 1400px;
    margin: 0 auto;
}

.faixa-verde {
    height: 20px;
    background-color: var(--verde-da-um-play);
    width: 100%;
}

header .container-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:root {
    --roxo-da-um-play: #8C5CF2;
    --verde-da-um-play: #50D5B7;
}

html {
    scroll-behavior: smooth;
}





header {
    height: 165px;
    margin: auto;
    margin-bottom: 30px;
}


/*logo*/
header img {
    width: 90px;
    align-items: center;
}

header button {
    display: none;
}



header .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}


/*configurar menu*/
.menu {
    width: 700px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*para mexer nas letras do menu*/
.menu a {
    font-size: 18px;
    font-family: "Anton";
    color: black;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: black;
}

/*para mexer na foto do banner*/
.conteudo-banner {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6643907563025211) 0%, rgba(52, 50, 50, 1) 100%), url(img/Firefly\ escritório\ no\ tema\ roxo\ e\ verde\ e\ azul\ escuro\ tecnológico\ 18886\ 1.png);

    background-size: cover;

    height: 160vh;


}


/*configuração da fonte*/
.conteudo-banner p {
    font-size: 30px;
    font-family: "Anton";

    color: white;

    text-align: right;
    align-items: center;

}

/*imagem sobre*/

/* height: 200px; */
/* border: 1px solid #ccc; */


/*configuração sobre*/
#sobre {
    height: 800px;


    display: flex;
    flex-direction: column;
    padding: 100px 25%;
    justify-content: space-between;

    text-align: left;

}

#sobre img {
    width: 200px;
    flex-direction: column;
    justify-content: left;
}

h2 {
    font-family: "Anton";
    font-size: 28px;
    text-align: left;
    margin-bottom: 70px;
}



#sobre p {
    font-family: "Poppins";

    font-size: 17px;

    text-align: right;

    line-height: 1.5;
}

.sobre {
    height: 50%;
    width: 100%;

}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 10px;
}

.card {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 300px;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card h2 {
    font-family: "Anton";
    font-size: 28px;
    text-align: left;
}

.card:hover {
    height: 400px;
}

.card .img-box {
    position: absolute;
    width: 250px;
    height: auto;
    top: 0px;
}


.card:hover .img-box {
    top: -100px;
    scale: 0.75;
    transition: 0.5s;
}

.card .img-box img {
    width: 100%;
    height: 216px;
    object-fit: cover;
}

.card .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    height: 42px;

}

.card:hover .content {
    top: 130px;
    height: 250px;

}

.card .ler-mais {
    background: linear-gradient(90deg, #456036, #E7FF99);
    padding: 12px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

.content p {
    font-family: "Poppins";
}


.feedbacks img {
    height: 1%;
    width: 2px;
}